@model Nexus.Models.RazorPayOrder
<!-- // Click this button automatically when this page load using javascript -->
<!-- You can hide this button -->
@{
    Layout = null;
}
<button id="rzp-button1" hidden>Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "@Html.DisplayFor(model => model.RazorPayAPIKey)", // Enter the Key ID generated from the Dashboard
        "amount": "@Html.DisplayFor(model => model.Amount)", // Amount is in currency subunits.
        "currency": "@Html.DisplayFor(model => model.Currency)",
        "name": "@Html.DisplayFor(model => model.Name)",
        "description": "Sample description here",
        // "image": "yourLogo_URL", // You can give your logo url
        "order_id": "@Html.DisplayFor(model => model.OrderId)",
        "handler": function (response) {
            // After payment successfully made response will come here
            // Set the data in hidden form
            document.getElementById('rzp_paymentid').value = response.razorpay_payment_id;
            document.getElementById('rzp_orderid').value = response.razorpay_order_id;
            document.getElementById('ServicePlanId').value = @Model.ServicePlanId;
            document.getElementById('ExpiryDateId').value = @Model.ExpiryDateId;
            //document.getElementById('Name').value = @Model.Name;
            //document.getElementById('Phone').value = @Model.Phone;
            //document.getElementById('Address').value = @Model.Address;
            document.getElementById('Total').value = @Model.Total;
            document.getElementById('Quantity').value = @Model.Quantity;
            // // Let's submit the form automatically
            document.getElementById('rzp-paymentresponse').click();
        },
        "prefill": {
            "name": "@Html.DisplayFor(model => model.Name)",
            "email": "@Html.DisplayFor(model => model.Email)",
            "contact": "9090974785" //pre-filled sample number
        },
        "notes": {
            "address": "You can add notes here"
        },
        "theme": {
            "color": "#F37254"
        }
    };
    var rzp1 = new Razorpay(options);
    //<!-- onload function -->
    window.onload = function () {
        document.getElementById('rzp-button1').click();
    };
    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
</script>

<!-- This form is hidden, and submit when payment successfully made -->
@using (Html.BeginForm("Complete", "CusBuying", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("rzp_paymentid")
    @Html.Hidden("rzp_orderid")
    @Html.Hidden("ServicePlanId")
    @Html.Hidden("ExpiryDateId")
    @Html.Hidden("Name")
    @Html.Hidden("Phone")
    @Html.Hidden("Address")
    @Html.Hidden("Total")
    @Html.Hidden("Quantity")
    <input name="Name" type="hidden" id="Name" value="@Model.Name" />
    <input name="Phone" type="hidden" id="Phone" value="@Model.Phone" />
    <input name="Address" type="hidden" id="Address" value="@Model.Address" />
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" hidden>Submit</button>
}