@using Nexus.Models.ModelView;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3 class="text-center"><strong>Request a product exchange</strong></h3>
<br />
<br />
<div id="main-cart-items" data-id="template--15388007727267__cart-items">
    <div class="js-contents">
        <table class="cart-items table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width:auto"><strong>Information</strong></th>
                    <th scope="col"><strong>Category</strong></th>

                    <th scope="col"><strong>Service</strong></th>

                    <th scope="col"><strong>Quantity Exchange</strong></th>
                    <th scope="col"><strong>Expiry</strong></th>

                    <th scope="col"><strong>Reason</strong></th>
                    <th scope="col"><strong>Exchange Date</strong></th>

                    <th scope="col"><strong>Status Change</strong></th>
                    <th scope="col"><strong></strong></th>

                </tr>
            </thead>

            <tbody>
                @foreach (StorageView item in ViewBag.OrderRequest)
                {
                    <tr>
                        <td>Name: @item.Name - Phone: @item.Phone - Address: @item.Address</td>
                        @if (item.IdCategory == 1)
                        {
                            <td>Service Phone</td>
                        }
                        else
                        {
                            <td>Service Internet</td>
                        }
                        <td>@item.NameService</td>
                        <td>@item.QuantityChange</td>
                        <td>@item.ExpiryDate</td>

                        <td>@item.Reason</td>
                        @if (item.ExchangeDate == null)
                        {
                            <td>Pending change...</td>

                        }
                        else
                        {
                            <td>@item.ExchangeDate</td>

                        }


                        @if (item.StatusChange == false)
                        {
                            <td>
                                Pending change...
                            </td>
                        }
                        else if (item.StatusChange == true)
                        {
                            <td>Change success</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>